
.mian {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    position: relative;
    width: 720px;
    height: 455px;
    background-color: purple;
}
.newsflash {
    width: 250px;
    height: 455px;
}
.arrow-l,
.arrow-r {
    position: absolute;
    width: 24px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
    font-family: "icomoon";
    font-size: 18px;
}
.arrow-l {
    left: 0;
}
.arrow-r {
    right: 0;
}
.news {
    height: 163px;
    border: 1px solid #ccc;
}

.news_hd {
    height: 32px;
    border-bottom: 1px dotted #ccc;
    padding: 0 15px;
    line-height: 32px;
    font-size: 14px;
}
.news_hd a {
    float: right;
    font-family: "icomoon";
    font-size: 12px;
}

.news_bd {
    padding: 10px 0 0 15px;
}
.news_bd li {
    height: 24px;
}
.lifeservice {
    height: 208px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice li {
    position: relative;
    float: left;
    width: 62px;
    height: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.lifeservice li span {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 12px;
    height: 15px;
    background: url(../img/jian.jpg) no-repeat;
}
.lifeservice li a {
    display: block;
    height: 100%;
    text-align: center;
    /* i标签设置margintop造成塌陷，所以使用overflow */
    overflow: hidden;
}
.service_ico {
    display: block;
    width: 24px;
    height: 24px;
    margin: 10px auto;
    background: url(../img/icons.png) no-repeat;
}
.service_ico_huafei {
    background-position: -17px -16px;
}
.bargain {
    height: 75px;
    margin-top: 5px;
}
.recommend {
    height: 163px;
    margin-top: 10px;
    background-color: pink;
}

.recom_hd {
    text-align: center;
    width: 200px;
    height: 163px;
    background-color: #5c5251;
}
.recom_hd img {
    margin: 30px 0 10px 0;
}
.recom_hd h3 {
    font-weight: normal;
    color: #fff;
    font-size: 18px;
}
.recom_bd {
    width: 1000px;
    height: 163px;
    background-color: #ebebeb;
}
.recom_bd li {
    float: left;
    width: 249px;
    border-right: 1px solid #ccc;
    margin-top: 10px;
}

.recom_bd .last {
    border-right: none;
}
/* 楼层区 */